{% extends 'common_student.html' %}
{% block common_student %}
<div class="student">
   <div class="container">
      <div class="row min-height">
         <div class="col-sm-12">
            <div class="row main_border">
               <div class="col-sm-7">
                  <h3 class="appointment_list">Create Appointment</h3>
               </div>
               <div class="col-sm-5">
                  <form class="form-inline my-2 my-lg-0" method="GET" action="">
                     <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search Date" placeholder="Search With Name" aria-label="Search">
                     <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Search</button>
                  </form>
               </div>
            </div>
            <br><br>
            <form method="POST" action="">
               {% csrf_token %}
               <div class="row" id="datepairExample">
                  <div class="col-2">
                     <select class="form-control" name="{{ form.category.name }}" id="id_{{ form.category.name }}" required>
                        <option value="" disabled selected>Select Category</option>
                        {% for category in unique_categories %}
                        <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                     </select>
                  </div>
                  <div class="col-2">
                     <select class="form-control" name="{{ form.type.name }}" id="id_{{ form.type.name }}" required>
                        <option value="" disabled selected>Select Topic</option>
                        {% for topic in unique_topics %}
                        <option value="{{ topic }}">{{ topic }}</option>
                        {% endfor %}
                     </select>
                  </div>
                  <div class="col-2">
                     <select class="form-control" name="{{ form.first_name.name }}" id="id_{{ form.first_name.name }}" required>
                         <option value="{{ user.user.username }}">{{ user.user.username }}</option>
                     </select>
                 </div>
                 
                  <div class="col-1">
                     <input type="text" class="form-control date start" name="{{ form.date.name }}" required id="id_{{ form.date.name }}" placeholder="Date Ex. 30.10.12 ">
                  </div>
                  <div class="col-1">
                     <input type="text" class="form-control time start" name="{{ form.time_start.name }}" required id="id_{{ form.time_start.name }}" placeholder="Start Time Ex. 01.00 PM">
                  </div>
                  to
                  <div class="col-1">
                     <input type="text" class="form-control time end" name="{{ form.time_end.name }}" required id="id_{{ form.time_end.name }}" placeholder="End   Time Ex. 01.30 PM">
                  </div>
                  
                  <br> <br>
                  <div class="col-6">
                     <input type="text" class="form-control" name="{{ form.reason.name }}" required id="id_{{ form.reason.name }}" placeholder="Reason">
                  </div>
                  <div class="col">
                    <button type="submit" class="btn custom-blue-btn">Create <i class="fas fa-plus"></i></button>
                </div>
               </div>
            </form>
            <br><br>
         </div>
         <!-- Add JavaScript code to fetch and update users -->
         <script>
            $(document).ready(function () {
                $("#id_{{ form.category.name }}, #id_{{ form.type.name }}").change(function () {
                    // Get selected category and topic values
                    var selectedCategory = $("#id_{{ form.category.name }}").val();
                    var selectedTopic = $("#id_{{ form.type.name }}").val();
            
                    // Fetch users based on selected category and topic
                    $.ajax({
                        url: "{% url 'get_filtered_users' %}",
                        data: {
                            category: selectedCategory,
                            type: selectedTopic
                        },
                        dataType: "json",
                        success: function (data) {
                            var userSelect = $("#id_{{ form.first_name.name }}");
                            userSelect.empty().append($('<option>', {
                                value: "{{ user.user.first_name }}",
                                text: "Faculty List"
                            }));
                            $.each(data, function (key, value) {
                                userSelect.append($('<option>', {
                                    value: key,
                                    text: value
                                }));
                            });
                        }
                    });
                });
                // Update the "Type" dropdown based on the selected "Category"
                $("#id_{{ form.category.name }}").change(function () {
                    var selectedCategory = $(this).val();
            
                    // Fetch filtered types based on the selected category
                    $.ajax({
                        url: "{% url 'get_filtered_types' %}",
                        data: {
                            category: selectedCategory
                        },
                        dataType: "json",
                        success: function (data) {
                            var typeSelect = $("#id_{{ form.type.name }}");
                            typeSelect.empty().append($('<option>', {
                                value: "",
                                text: "Select Topic"
                            }));
                            $.each(data, function (index, value) {
                                typeSelect.append($('<option>', {
                                    value: value,
                                    text: value
                                }));
                            });
                        }
                    });
                });
            });
         </script>
         <script>
            $('#datepairExample .time').timepicker({
              'showDuration': true,
              'timeFormat': 'g:ia'
            });
            
            $('#datepairExample .date').datepicker({
              'format': 'd/m/yyyy',
              'autoclose': true
            });
            
            $('#datepairExample').datepair();
         </script>
        <script>
          <!-- Inside the script tag for updateTeacherSlots() -->
function updateTeacherSlots() {
    var teacherId = $("#id_{{ user.user.username }}").val();
    if (teacherId) {
        $.ajax({
            url: "{% url 'get_teacher_slots' teacher_id=0 %}".replace('0', teacherId),
            dataType: "json",
            success: function (data) {
                // Process the available_slots and unavailable_slots data here
                var availableSlots = data.available_slots;
                var unavailableSlots = data.unavailable_slots;

                // Enable all time inputs initially
                $('#id_{{ form.time_start.name }}').prop('disabled', false);
                $('#id_{{ form.time_end.name }}').prop('disabled', false);

                // Disable time slots that are already booked
                for (var i = 0; i < unavailableSlots.length; i++) {
                    var start_time = unavailableSlots[i].start_time;
                    var end_time = unavailableSlots[i].end_time;

                    // Find the time inputs corresponding to booked slots and disable them
                    $('input[value="' + start_time + '"]').prop('disabled', true);
                    $('input[value="' + end_time + '"]').prop('disabled', true);
                }
            },
            error: function () {
                // Handle errors
            }
        });
    }
}

// Bind the function to the change event of the teacher select input
$("#id_{{ user.user.username }}").on('change', updateTeacherSlots);

      </script>

<style>
   /* Define styles for status buttons */
   .status-button {
       display: inline-block;
       padding: 6px 12px;
       border: none;
       border-radius: 4px;
       cursor: pointer;
       font-weight: bold;
       text-align: center;
       text-decoration: none;
       margin: 4px 2px;
   }

   .status-approved {
    background-color: #04AA6D;
    color: white;
}

.status-pending {
    background-color: gray;
    color: white;
}

.status-on-hold {
    background-color: #d4db07;
    color: white;
}

.status-rejected {
    background-color: #eb0248;
    color: white;
}
   .custom-blue-btn {
        background-color: #1266e3;
        color: white;
    }
</style>

<div class="col-sm-7">
    <h3 class="appointment_list">Delete & Update Appointments</h3>
 </div>
      
         <table class="table">
            <thead>
               <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">Category</th>
                  <th scope="col">Topics</th>
                  <th scope="col">Faculty</th>
                  <th scope="col">Reason</th>
                  <th scope="col">Room Number No. & Place</th>
                  <th scope="col">Faculty Comments</th>                  
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
               </tr>
            </thead>
            {% for appoint in query %}
            
            <tbody>
               <tr>
                  <td>{{appoint.date}}</td>
                  <td>{{appoint.time_start}} - {{appoint.time_end}}</td>
                  <td>{{appoint.category}}</td>
                  <td>{{appoint.type}}</td>
                  <td>{{appoint.first_name}}</td>
                  <td>{{appoint.reason}}</td>
                  <td>{{appoint.room_number}}</td>
                  <td>{{appoint.teacher_comment}}</td>
                  
                  <td>
                     {% if appoint.is_approved == 1 %}
                         <span class="status-button status-approved">Approved</span>
                     {% elif appoint.is_approved == 0 %}
                         <span class="status-button status-pending">Pending</span>
                     {% elif appoint.is_approved == 2 %}
                         <span class="status-button status-on-hold">On Hold</span>
                     {% elif appoint.is_approved == 3 %}
                         <span class="status-button status-rejected">Rejected</span>
                     {% endif %}
                 </td>
                 <td>
                  <div class="action-buttons">
                      <a href='{% url "appointment_delete" id=appoint.id %}' class="btn-link">
                          <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                      </a>
                      <a href='{% url "student_appointment_update" id=appoint.id %}' class="btn-link">
                          <button type="button" class="btn btn-danger"><i class="far fa-edit"></i></button>
                      </a>
                  </div>
              </td>
              
            
                  </td>
               </tr>
            </tbody>
           
            
            {% endfor %}
         </table>
      </div>
   </div>
</div>
<div class="footer">
   <div class="container">
      <div class "row">
         <div class="col-sm-12">
         
         </div>
      </div>
   </div>
</div>
<style>
  .action-buttons {
    display: inline-block;
    white-space: nowrap; /* Prevent line breaks within the container */
}

.btn-link {
    margin-right: 10px;
    vertical-align: middle; /* Vertically align the buttons within the container */
}


</style>
{% endblock common_student %}
